// breakpoints

$medium: 641px;
$large: 1025px;
$nav_desktop: 1167px;
$xlarge: 1440px;
$section_max_width: 1230px;


// colors
$primary: #32A2AE;
$footer-grey: #424343;
$medium-grey: #383838;
$light-grey: #dedddd;
$ink: #17181d;
$pink: #e33062;
// light theme colors
$estimate-bar: #f9f9f9;
$header-tint: #eaeaea;
$footer-bg: #bcbcbc;


// fonts
$body: 'Montserrat', 'Helvetica', sans-serif;
$header: 'Montserrat', 'Helvetica', sans-serif;

// misc
$box-shadow: 0px 5px 15px rgba(0,0,0,0.4);